@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Funnel+Display:wght@300..800&family=Meow+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET RULES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    width: 100%;
}

/* structure class */
.full-container {
    max-width: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 4);
    padding: 15px;
}

body {
    font-family: "Funnel Display", sans-serif;
    background-color: rgb(232, 232, 232);
    transition: background-color 1s;

}

/* header style */
header {
    display: flex;
    padding: 10px 15px;
    background-color: whitesmoke;
    box-shadow: #145C9E 2px 2px 200px 1px;
    transition: background-color 1s, box-shadow 1s;
}

h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
    line-height: 30px;
    padding-bottom: 15px;
    padding-left: 5px;
    transition: background-color 1s, box-shadow 1s;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-button {
    padding: 15px;
    background-color: white;
    display: inline-block;
    border: 2px solid black;
    border-radius: 14px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.297) 2px 2px 4px 1px;
    transition: background-color 1s, box-shadow 1s;

}



/* main style */
.add-button {
    margin: 20px 0 5px 15px;
    padding: 7px 10px;
    background-color: #145C9E;
    display: inline-block;
    border-radius: 14px;
    line-height: 20px;
    cursor: pointer;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.297) 2px 2px 4px 1px;

}

.add-button:hover {
    background-color: #2373be;

}

.card-title{
    color: rgb(40, 39, 39);
    padding-top: 10px;
    margin-bottom: 15px;
    transition: color 1s;
}

.card {
    text-align: center;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.297) 2px 2px 13px 5px;
    transition: background-color 1s, box-shadow 1s border-radius 1s;
    

}

.card-body {
    width: 100%;
    min-height: 500px;
}

.to-do-element {
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(241, 241, 241);
    box-shadow: rgba(0, 0, 0, 0.297) 0px 0px 12px 1px;
    margin: 0px 15px 15px;
    padding: 5px;
    font-weight: 200;
    font-size: 13px;
}

.to-do-element:hover {
    transform: scale(1.1);
    background-color: #83a4c2;
}

.trash {
    position: relative;
    width: 70px;
    display: flex;
}

.trash img {
    position: absolute;
    margin-top: 3px;

}

/* overlay style */
.overlay-container {
    height: 100vh;
    width: 100%;
    background-color: #145b9eec;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 35px;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease, visibility 0.3s ease;
    user-select: none;
}

.d-off.overlay-container {
    opacity: 0;
    visibility: hidden;
}

.icon-section,
.color-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin-top: 30px;
}

.icon,
.color-section>* {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
    outline: none;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: outline 0.2s;
}

.colorpicker {
    padding: 0px;
    border: none;
    border-radius: 5px;
}

.icon:hover {
    background-color: #44b4af;
    outline: 3px solid rgb(255, 255, 255);

}

.icon.focus {
    background-color: #149e97;
    color: white;
    outline: 3px solid rgb(19, 19, 32);
}
.color-section > *:hover{
    outline: 3px solid rgb(255, 255, 255);
}
.color-section>*.focus {
    outline: 3px solid rgb(19, 19, 32);
}

#add-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-title {
    color: white;
}

#to-do-text {
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    width: 50vw;
    border-radius: 14px;
    border: none;
    margin-bottom: 40px;
}

#to-do-text:focus {
    outline: 3px solid #44b4af;
}

#confirm-button {
    margin: 15px 0 0 15px;
    padding: 7px 10px;
    background-color: #149e97;
    display: inline-block;
    border-radius: 14px;
    border: none;
    line-height: 20px;
    cursor: pointer;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.297) 2px 2px 4px 1px;
    font-size: 16px;
}

#confirm-button:hover {
    background-color: #44b4af;
}

.closed-btn {
    margin: 50px;
    font-size: 35px;
    color: white;
    position: fixed;
    top: 50px;
    right: 50px;
    transition: transform 0.3s;
}

.closed-btn:hover {
    transform: scale(1.5);
    cursor: pointer;
}

/* utilities class */
.overflow-h {
    overflow: hidden;
}

.d-none {
    display: none;
}


/* COLOR PALETTE */

.champagne-bg {
    background-color: #EEE0CB;
    color: white;
}

.celadon-bg {
    background-color: #A7E8BD;
    color: white;
}

.bluegray-bg {
    background-color: #5885AF;
    color: white;
}

.darkblue-bg {
    background-color: #0C2D48;
    color: white;
}

.bluegreen-bg {
    background-color: #10564F;
    color: white;
}

.tangerine-bg {
    background-color: #D1913E;
    color: white;
}

.scarlet-bg {
    background-color: #A92420;
    color: white;
}

.mistyblue-bg {
    background-color: #C1C2D0;
    color: white;
}

.orange-bg {
    background-color: #FF8300;
    color: white;
}


@keyframes vibration {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-2px, 2px);
    }

    50% {
        transform: translate(2px, -2px);
    }

    75% {
        transform: translate(-2px, -2px);
    }

    100% {
        transform: translate(2px, 2px);
    }
}

@keyframes vibrationBtn {
    0% {
        transform: translate(0, 0);
        background-color: #A92420;
    }

    25% {
        transform: translate(-8px, 2px);
        background-color: #A92420;
    }

    50% {
        transform: translate(2px, -8px);
        background-color: #A92420;
    }

    75% {
        transform: translate(-8px, -2px);
        background-color: #A92420;
    }

    100% {
        transform: translate(2px, 8px);
        background-color: #A92420;
    }
}

.vibration-el {
    animation: vibration 0.2s infinite;
}

.vibration-btn {
    animation: vibrationBtn 0.2s infinite;


}

/* media querriers */
@media (max-width: 992px) {
    .col {
        width: calc(100% / 2);
        padding: 15px;
    }


}

@media (max-width: 576px) {
    .col {
        width: 100%;
        padding: 15px;
    }


}

/* dark mode */
.dark-mode {
    background-color: rgb(25, 25, 25);
}

.dark-mode header {
    background-color: rgb(16, 16, 16);
    box-shadow: #93c8fa 2px 2px 200px 1px;
}

.dark-mode h1 {
    color: white;
}

.dark-mode .dark-button {
    background-color: rgb(16, 16, 16);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.dark-mode .card{
    background-color:rgb(65, 65, 65) ;
    border-radius: 2px;
    
}
.dark-mode .card-title{
    color:white
}